In [513]:
import pandas as pd
import numpy as np
pd.options.display.max_columns=44

In [514]:
enem_sp = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/04 - Amostragem/01 - Atividade/enem_tratado.csv", encoding = "iso-8859-1",sep=",")

In [515]:
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,564.6,585.8,592.9,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,nao
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,Belém,1,1,1,1,576.2,641.1,634.3,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,sim
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,publica,35904958.0,São Bernardo do Campo,1,1,1,1,402.2,424.8,509.6,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,nao
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,publica,NaN,NaN,1,1,1,1,399.6,426.8,487.2,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,nao
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,625.7,646.5,629.3,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,nao

In [516]:
enem_campinas = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == "Campinas"]

In [517]:
enem_campinas.head(10)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,422.9,496.5,509.6,496.5,Inglês,1.0,160.0,120.0,140.0,140.0,120.0,680.0,nao
31,"1,90E+11",Campinas,19,F,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,634.2,657.4,580.9,73.1,Inglês,1.0,140.0,120.0,160.0,140.0,160.0,720.0,nao
51,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,NaN,NaN,1,1,1,1,420.3,485.6,517.4,417.5,Inglês,1.0,160.0,140.0,160.0,120.0,160.0,740.0,nao
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,Lagoa do Ouro,1,1,1,1,39.7,488.1,472.5,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,nao
169,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,NaN,1,1,1,1,563.7,551.3,582.3,624.4,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,nao
186,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,560.6,591.1,64.0,628.5,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,nao
236,"1,90E+11",Campinas,17,F,1,preta,1,2,privada,35112859.0,Campinas,1,1,1,1,561.2,685.9,642.9,499.8,Inglês,1.0,160.0,120.0,120.0,160.0,200.0,760.0,nao
325,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35907376.0,Campinas,1,1,1,1,443.3,465.8,55.8,509.3,Inglês,1.0,80.0,120.0,100.0,100.0,80.0,480.0,nao
401,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,614.8,657.2,592.5,68.6,Inglês,1.0,160.0,160.0,180.0,160.0,200.0,860.0,nao
469,"1,90E+11",Campinas,18,M,1,nao_Declarado,1,1,nao_respondeu,NaN,NaN,1,1,1,1,626.4,610.2,601.2,669.4,Inglês,1.0,140.0,180.0,120.0,160.0,120.0,720.0,nao

In [518]:
enem_campinas.shape

(13198, 28)

# **Amostragem Aleatória Simples**

In [519]:
# Criando semente aleatória, para fixar o resultado.
np.random.seed(1)
# Cada número que eu seto firmará um resultado.
#np.random.seed(2) me daria um outro resultado, mas bastava inserir np.random.seed(1) para visualizar o resultado anterior.

In [520]:
amos_simples = enem_campinas.sample(frac = 0.20) #Porcentagem

In [521]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
327999,"1,90E+11",Campinas,20,M,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,546.8,583.5,531.5,459.6,Inglês,1.0,180.0,200.0,180.0,200.0,200.0,960.0,nao
235222,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018296.0,Campinas,1,1,1,1,551.4,603.3,590.3,48.8,Inglês,1.0,160.0,180.0,160.0,140.0,140.0,780.0,nao
134221,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,NaN,NaN,1,1,1,1,440.2,431.3,414.4,429.9,Inglês,1.0,100.0,120.0,100.0,80.0,100.0,500.0,nao
358407,"1,90E+11",Campinas,25,M,0,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,567.6,549.6,551.3,687.4,Espanhol,1.0,140.0,120.0,120.0,140.0,140.0,660.0,sim
173364,"1,90E+11",Campinas,18,M,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,457.9,573.5,576.3,617.9,Inglês,1.0,140.0,120.0,140.0,140.0,80.0,620.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452747,"1,90E+11",Campinas,45,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,48.3,508.8,486.4,373.5,Espanhol,1.0,80.0,80.0,80.0,80.0,80.0,400.0,nao
362918,"1,90E+11",Campinas,19,M,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,357.8,442.5,500.2,450.7,Inglês,1.0,120.0,40.0,40.0,120.0,0.0,320.0,nao
221397,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,471.3,561.1,591.8,524.8,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,nao
76628,"1,90E+11",Campinas,17,M,0,branca,1,2,publica,35018797.0,Campinas,1,1,1,1,559.5,559.8,560.5,649.7,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,nao
126402,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35039901.0,Campinas,1,1,1,1,471.8,507.5,525.4,376.6,Espanhol,1.0,120.0,160.0,140.0,120.0,140.0,680.0,nao

In [522]:
amos_simples = enem_campinas.sample(3000) #número inteiro

In [523]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
57191,"1,90E+11",Campinas,17,F,1,amarela,1,2,publica,35045937.0,Campinas,1,1,1,1,53.3,564.5,566.4,653.8,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,nao
215078,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35018880.0,Campinas,1,1,1,1,481.8,49.5,513.5,507.8,Inglês,1.0,120.0,120.0,120.0,120.0,100.0,580.0,nao
430770,"1,90E+11",Campinas,18,M,1,branca,1,2,privada,35112902.0,Campinas,1,1,1,1,626.6,665.8,628.8,823.3,Inglês,1.0,140.0,180.0,120.0,160.0,160.0,760.0,nao
409180,"1,90E+11",Campinas,19,F,1,preta,1,2,publica,35047120.0,Campinas,1,1,1,1,459.7,406.1,477.7,574.7,Inglês,1.0,120.0,120.0,120.0,120.0,140.0,620.0,nao
429862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35812900.0,Campinas,1,1,1,1,465.9,566.1,583.3,522.7,Inglês,1.0,140.0,120.0,120.0,160.0,100.0,640.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238949,"1,90E+11",Campinas,22,F,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,553.8,630.1,625.9,601.2,Inglês,1.0,160.0,120.0,160.0,160.0,180.0,780.0,nao
242711,"1,90E+11",Campinas,17,F,1,parda,1,2,privada,35467765.0,Campinas,1,1,1,1,568.4,612.5,574.3,628.3,Inglês,1.0,160.0,140.0,160.0,160.0,180.0,800.0,nao
467039,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,NaN,NaN,1,1,1,1,456.8,432.9,520.3,382.6,Inglês,1.0,80.0,120.0,100.0,100.0,100.0,500.0,nao
189967,"1,90E+11",Campinas,19,F,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,409.1,55.6,51.6,455.1,Espanhol,1.0,100.0,140.0,120.0,140.0,120.0,620.0,sim
282921,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,35812900.0,Campinas,1,1,1,1,459.3,412.3,533.6,511.2,Inglês,1.0,120.0,140.0,120.0,140.0,140.0,660.0,nao

**Outra maneira**

In [524]:
np.random.seed(2)

In [525]:
amost = np.random.choice(a = [0,1], size=13198, replace=True, p=[0.8,0.2])

In [526]:
amost

array([0, 0, 0, ..., 0, 0, 1])

In [527]:
amos_simples = enem_campinas.loc[amost == 1]

In [528]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
949,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35924573.0,Campinas,1,1,1,1,577.5,590.2,561.9,601.4,Inglês,1.0,160.0,120.0,120.0,140.0,120.0,660.0,nao
1058,"1,90E+11",Campinas,19,M,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,519.6,387.9,533.3,474.6,Inglês,1.0,120.0,120.0,120.0,160.0,100.0,620.0,nao
1980,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35018302.0,Campinas,1,1,1,1,491.6,552.6,533.5,479.9,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,sim
2053,"1,90E+11",Campinas,18,F,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,408.1,390.1,392.6,424.2,Inglês,1.0,100.0,40.0,20.0,80.0,0.0,240.0,nao
2328,"1,90E+11",Campinas,20,F,1,parda,2,1,nao_respondeu,NaN,NaN,1,1,1,1,551.9,512.2,548.5,552.5,Espanhol,1.0,120.0,120.0,100.0,100.0,80.0,520.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498946,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35018797.0,Campinas,1,1,1,1,386.7,458.8,519.2,484.1,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,nao
499198,"1,90E+11",Campinas,18,M,1,preta,1,2,publica,35018363.0,Campinas,1,1,1,1,580.8,60.4,604.4,666.4,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,nao
499258,"1,90E+11",Campinas,21,F,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,39.8,528.5,530.5,503.6,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,nao
499691,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35018089.0,Valinhos,1,1,1,1,496.2,595.5,590.6,770.3,Inglês,1.0,120.0,120.0,120.0,160.0,80.0,600.0,nao
499883,"1,90E+11",Campinas,20,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,646.7,674.4,627.4,701.1,Inglês,1.0,160.0,200.0,200.0,200.0,180.0,940.0,nao

# **Amostragem Sistemática**

In [529]:
enem_campinas.shape

(13198, 28)

In [530]:
np.random.seed(2)
inicio = np.random.choice(10,1)

In [531]:
array_sistematica = np.arange(inicio,13198,100)
array_sistematica

array([    8,   108,   208,   308,   408,   508,   608,   708,   808,
         908,  1008,  1108,  1208,  1308,  1408,  1508,  1608,  1708,
        1808,  1908,  2008,  2108,  2208,  2308,  2408,  2508,  2608,
        2708,  2808,  2908,  3008,  3108,  3208,  3308,  3408,  3508,
        3608,  3708,  3808,  3908,  4008,  4108,  4208,  4308,  4408,
        4508,  4608,  4708,  4808,  4908,  5008,  5108,  5208,  5308,
        5408,  5508,  5608,  5708,  5808,  5908,  6008,  6108,  6208,
        6308,  6408,  6508,  6608,  6708,  6808,  6908,  7008,  7108,
        7208,  7308,  7408,  7508,  7608,  7708,  7808,  7908,  8008,
        8108,  8208,  8308,  8408,  8508,  8608,  8708,  8808,  8908,
        9008,  9108,  9208,  9308,  9408,  9508,  9608,  9708,  9808,
        9908, 10008, 10108, 10208, 10308, 10408, 10508, 10608, 10708,
       10808, 10908, 11008, 11108, 11208, 11308, 11408, 11508, 11608,
       11708, 11808, 11908, 12008, 12108, 12208, 12308, 12408, 12508,
       12608, 12708, 12808, 12908, 13008, 13108])

In [532]:
amostra_sistematica = enem_campinas.iloc[array_sistematica,:] #iloc porque ele vai pegar por linhas (índices) e não colunas. Vírgula e dois
#pontos para pegar todas as colunas, embora nesse caso n precise).

In [533]:
amostra_sistematica

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
401,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,614.8,657.2,592.5,68.6,Inglês,1.0,160.0,160.0,180.0,160.0,200.0,860.0,nao
5079,"1,90E+11",Campinas,18,F,1,branca,1,2,publica,35018855.0,Campinas,1,1,1,1,433.1,494.7,505.1,419.9,Inglês,1.0,140.0,120.0,120.0,120.0,140.0,640.0,nao
9218,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,605.4,593.5,628.8,617.1,Inglês,1.0,120.0,120.0,120.0,120.0,120.0,600.0,nao
13685,"1,90E+11",Campinas,20,M,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,63.9,673.3,600.3,576.4,Inglês,1.0,160.0,200.0,180.0,200.0,180.0,920.0,nao
18239,"1,90E+11",Campinas,20,M,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,758.6,696.8,601.7,796.2,Inglês,1.0,160.0,200.0,200.0,200.0,200.0,960.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481894,"1,90E+11",Campinas,34,M,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,719.5,65.4,64.2,932.1,Inglês,1.0,140.0,120.0,160.0,160.0,160.0,740.0,nao
485805,"1,90E+11",Campinas,16,F,1,branca,1,2,publica,35039901.0,Campinas,1,1,1,1,337.4,543.9,466.5,441.6,Inglês,1.0,120.0,120.0,100.0,120.0,0.0,460.0,nao
488958,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,444.4,505.4,577.1,492.9,Inglês,1.0,160.0,120.0,140.0,120.0,140.0,680.0,nao
492626,"1,90E+11",Campinas,21,M,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,536.5,608.5,592.4,51.1,Inglês,1.0,120.0,120.0,120.0,100.0,0.0,460.0,nao
496410,"1,90E+11",Campinas,19,M,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,457.9,58.2,518.6,404.4,Inglês,1.0,100.0,80.0,80.0,80.0,40.0,380.0,nao

**Outra maneira**

In [534]:
np.random.seed(5)
primeiro = np.random.choice(10,1)
passo = np.random.randint(100,150,1)

In [535]:

array_sistematica = np.arange(primeiro,13198,passo)
array_sistematica

array([    3,   117,   231,   345,   459,   573,   687,   801,   915,
        1029,  1143,  1257,  1371,  1485,  1599,  1713,  1827,  1941,
        2055,  2169,  2283,  2397,  2511,  2625,  2739,  2853,  2967,
        3081,  3195,  3309,  3423,  3537,  3651,  3765,  3879,  3993,
        4107,  4221,  4335,  4449,  4563,  4677,  4791,  4905,  5019,
        5133,  5247,  5361,  5475,  5589,  5703,  5817,  5931,  6045,
        6159,  6273,  6387,  6501,  6615,  6729,  6843,  6957,  7071,
        7185,  7299,  7413,  7527,  7641,  7755,  7869,  7983,  8097,
        8211,  8325,  8439,  8553,  8667,  8781,  8895,  9009,  9123,
        9237,  9351,  9465,  9579,  9693,  9807,  9921, 10035, 10149,
       10263, 10377, 10491, 10605, 10719, 10833, 10947, 11061, 11175,
       11289, 11403, 11517, 11631, 11745, 11859, 11973, 12087, 12201,
       12315, 12429, 12543, 12657, 12771, 12885, 12999, 13113])

In [536]:
amostra_sistematica = enem_campinas.iloc[array_sistematica,:]

In [537]:
amostra_sistematica

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,Lagoa do Ouro,1,1,1,1,39.7,488.1,472.5,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,nao
5346,"1,90E+11",Campinas,18,F,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,552.3,502.5,509.6,672.2,Espanhol,1.0,120.0,120.0,100.0,100.0,120.0,560.0,nao
10022,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35905471.0,Campinas,1,1,1,1,430.4,408.4,497.8,455.9,Inglês,1.0,120.0,120.0,100.0,120.0,0.0,460.0,nao
14937,"1,90E+11",Campinas,18,M,1,branca,1,2,publica,35018855.0,Campinas,1,1,1,1,429.9,570.5,514.6,523.1,Inglês,1.0,120.0,100.0,80.0,80.0,100.0,480.0,sim
19582,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,65.9,668.9,616.4,797.6,Inglês,1.0,160.0,200.0,180.0,180.0,180.0,900.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480227,"1,90E+11",Campinas,18,M,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,45.5,512.7,445.9,433.9,Espanhol,1.0,100.0,60.0,60.0,80.0,20.0,320.0,nao
484300,"1,90E+11",Campinas,26,F,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,547.9,588.7,622.5,461.1,Inglês,1.0,140.0,120.0,100.0,100.0,120.0,580.0,nao
488378,"1,90E+11",Campinas,47,F,1,preta,2,1,nao_respondeu,NaN,NaN,1,1,1,1,513.9,448.1,487.9,50.2,Espanhol,1.0,100.0,120.0,80.0,100.0,100.0,500.0,nao
492348,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,439.1,443.8,509.1,486.9,Espanhol,1.0,120.0,40.0,40.0,120.0,0.0,320.0,nao
496606,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35924945.0,Campinas,1,1,1,1,341.3,445.7,51.5,430.8,Inglês,1.0,100.0,120.0,100.0,100.0,40.0,460.0,nao

In [538]:
enem_campinas

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,422.9,496.5,509.6,496.5,Inglês,1.0,160.0,120.0,140.0,140.0,120.0,680.0,nao
31,"1,90E+11",Campinas,19,F,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,634.2,657.4,580.9,73.1,Inglês,1.0,140.0,120.0,160.0,140.0,160.0,720.0,nao
51,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,NaN,NaN,1,1,1,1,420.3,485.6,517.4,417.5,Inglês,1.0,160.0,140.0,160.0,120.0,160.0,740.0,nao
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,Lagoa do Ouro,1,1,1,1,39.7,488.1,472.5,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,nao
169,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,NaN,1,1,1,1,563.7,551.3,582.3,624.4,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499729,"1,90E+11",Campinas,18,M,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,368.6,520.3,547.7,490.9,Inglês,1.0,120.0,100.0,100.0,100.0,0.0,420.0,nao
499749,"1,90E+11",Campinas,17,M,1,branca,1,2,publica,35040400.0,Valinhos,1,1,1,1,473.6,542.5,511.2,405.1,Espanhol,1.0,120.0,80.0,80.0,100.0,60.0,440.0,nao
499862,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018879.0,Campinas,1,1,1,1,432.6,438.5,51.6,40.3,Inglês,1.0,120.0,120.0,120.0,120.0,160.0,640.0,nao
499869,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,460.1,434.1,54.5,416.9,Espanhol,1.0,120.0,120.0,120.0,120.0,120.0,600.0,nao
499883,"1,90E+11",Campinas,20,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,646.7,674.4,627.4,701.1,Inglês,1.0,160.0,200.0,200.0,200.0,180.0,940.0,nao

#**Amostragem Estratificada**#

In [539]:
enem_campinas["RACA"].value_counts()

branca           7507
parda            3652
preta            1510
amarela           279
nao_Declarado     205
indigena           45
Name: RACA, dtype: int64

**Para pequenas quantidades de grupos**

obs: Nesse caso, eu teria que pegar um grupo por vez

In [540]:
np.random.seed(5)

In [541]:

branca_amostra = enem_campinas.loc[enem_campinas.RACA == "branca"].sample(frac = 0.10)
branca_amostra.shape

(751, 28)

In [542]:
preta_amostra = enem_campinas.loc[enem_campinas.RACA == "preta"].sample(frac = 0.10)
preta_amostra.shape

(151, 28)

In [543]:
parda_amostra = enem_campinas.loc[enem_campinas.RACA == "parda"].sample(frac = 0.10)
parda_amostra.shape

(365, 28)

In [544]:
amarela_amostra = enem_campinas.loc[enem_campinas.RACA == "amarela"].sample(frac = 0.10)
amarela_amostra.shape

(28, 28)

In [545]:
enem_campinas["RACA"] = enem_campinas["RACA"].replace({"nao_Declarado":"nao_declarado"})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [546]:
n_decl_amostra = enem_campinas.loc[enem_campinas.RACA == "nao_declarado"].sample(frac = 0.10)
n_decl_amostra.shape

(20, 28)

In [547]:
indigena_amostra = enem_campinas.loc[enem_campinas.RACA == "indigena"].sample(frac = 0.10)
indigena_amostra.shape

(4, 28)

**Vamos juntar essas amostras (concatená-las numa única tabela)**

In [548]:
amostras_racas = pd.concat([amarela_amostra,branca_amostra,parda_amostra,n_decl_amostra,indigena_amostra,preta_amostra])
amostras_racas

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
358641,"1,90E+11",Campinas,21,F,1,amarela,1,1,nao_respondeu,NaN,NaN,1,1,1,1,600.8,667.3,630.9,850.9,Inglês,1.0,160.0,200.0,180.0,160.0,180.0,880.0,nao
349281,"1,90E+11",Campinas,17,F,1,amarela,1,2,publica,35018314.0,Campinas,1,1,1,1,352.8,528.7,557.1,590.1,Inglês,1.0,140.0,120.0,120.0,100.0,60.0,540.0,nao
78422,"1,90E+11",Campinas,20,F,0,amarela,1,1,nao_respondeu,NaN,NaN,1,1,1,1,372.4,50.4,523.4,430.8,Espanhol,1.0,120.0,40.0,40.0,120.0,0.0,320.0,nao
371976,"1,90E+11",Campinas,31,M,0,amarela,1,1,nao_respondeu,NaN,NaN,1,1,1,1,634.1,597.4,57.6,71.4,Espanhol,1.0,160.0,160.0,140.0,160.0,120.0,740.0,nao
85454,"1,90E+11",Campinas,20,F,1,amarela,1,1,nao_respondeu,NaN,NaN,1,1,1,1,52.8,553.6,593.9,471.9,Inglês,1.0,140.0,120.0,120.0,120.0,60.0,560.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216439,"1,90E+11",Campinas,26,M,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,391.2,428.6,487.5,566.5,Espanhol,1.0,100.0,80.0,60.0,100.0,0.0,340.0,sim
4460,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,NaN,NaN,1,1,1,1,422.5,498.7,520.7,482.1,Inglês,1.0,120.0,120.0,160.0,120.0,120.0,640.0,nao
138320,"1,90E+11",Campinas,18,F,1,preta,1,1,nao_respondeu,NaN,NaN,1,1,1,1,485.5,530.9,584.9,432.1,Espanhol,1.0,120.0,140.0,120.0,120.0,80.0,580.0,nao
361855,"1,90E+11",Campinas,17,F,1,preta,1,2,privada,35437153.0,Campinas,1,1,1,1,508.6,592.8,618.9,67.0,Inglês,1.0,160.0,180.0,140.0,160.0,200.0,840.0,nao
18068,"1,90E+11",Campinas,17,M,1,preta,1,2,publica,35905471.0,Campinas,1,1,1,1,45.4,500.7,497.9,445.6,Inglês,1.0,80.0,120.0,100.0,120.0,0.0,420.0,nao

**Para grandes quantidades de grupos**

In [549]:
from sklearn.model_selection import train_test_split

In [550]:
x_treino, x_teste, y_treino, amos_estra = train_test_split(enem_campinas.drop(columns = ["RACA"]),
                                               enem_campinas["RACA"],
                                               stratify=enem_campinas["RACA"],
                                                test_size=0.20)
amos_estra.value_counts()

branca           1502
parda             730
preta             302
amarela            56
nao_declarado      41
indigena            9
Name: RACA, dtype: int64



SOBRE O QUE ESTÁ ACIMA: Essa função train_test_split obrigatoriamente necessita de três parâmetros principais que são chamados de X, Y e test_size. Como só nos interessa o parâmetro Y_teste (amos_estra), eu coloquei para o parâmetro X dados quaisquer. Eu escolhi colocar todas as variáveis, exceto a coluna Raça, por isso foi feito o drop. Poderia ser quaisquer outras colunas, esse parâmetro não nos serve pra nada, eu só "enganei" a função colocando outras colunas, o que nos interessa é o parâmetro Y

Parâmetro X: enem_campinas.drop('RACA', axis=1)

Para o parâmetro Y foi utilizado somente a coluna Raça. Essa coluna é a que eu vou fazer a amostragem.

Parâmetro Y: enem_campinas['RACA']

O parâmetro stratify é para indicar que será realizada uma estratificação exatamente na coluna RACA (que nada mais é do que o parâmetro Y).

stratify=enem_campinas['RACA'] E por fim, o parâmetro test_size é para indicar a porcentagem que será estratificada.

Resumindo, foi utilizada uma função que não foi projetada para fazer amostragem e por este motivo tivemos que fazer umas adaptações.

O parâmetro X, que recebeu o drop, na verdade não foi utilizado, mas como é obrigatório colocá-lo eu coloquei sem a variável RACA, mas você pode colocar outra coisa, inclusive sem dar um drop na coluna RACA, o resultado será o mesmo.

**Uma segunda forma (ainda utilizando sklearn) que me pareceu
mais inteligível**

In [551]:
from sklearn.model_selection import train_test_split

In [552]:
x = enem_campinas.drop(columns =["RACA"])
y = enem_campinas['RACA']
x_treino, x_teste, y_treino, amos_siste = train_test_split(x,y, stratify=y, test_size=0.20)
amos_siste.value_counts()

branca           1502
parda             730
preta             302
amarela            56
nao_declarado      41
indigena            9
Name: RACA, dtype: int64

**Criando índices para que consigamos reunir em uma tabela a amostragem
sistemática**

In [553]:
# Repetindo a etapa anterior para memorização
from sklearn.model_selection import train_test_split

In [555]:
# Repetindo a etapa anterior para memorização
x_treino, x_teste, y_treino, estratificada = train_test_split(
    enem_campinas.drop(columns = ["RACA"]),
    enem_campinas["RACA"],
    stratify=enem_campinas['RACA'],
    test_size = 0.20 
    )
# Criando index
estratificada = estratificada.index
enem_campinas_estra = enem_campinas.loc[estratificada, :]
enem_campinas_estra

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
424346,"1,90E+11",Campinas,21,F,1,nao_declarado,1,1,nao_respondeu,NaN,NaN,1,1,1,1,657.5,669.4,630.7,797.4,Inglês,1.0,120.0,140.0,140.0,120.0,100.0,620.0,nao
1177,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35924544.0,Campinas,1,1,1,1,516.5,586.6,499.7,61.3,Inglês,1.0,120.0,120.0,140.0,120.0,180.0,680.0,nao
188685,"1,90E+11",Campinas,31,F,1,nao_declarado,1,1,nao_respondeu,NaN,NaN,1,1,1,1,599.1,602.5,563.2,542.5,Inglês,1.0,140.0,160.0,140.0,120.0,120.0,680.0,nao
174168,"1,90E+11",Campinas,17,M,1,branca,1,2,publica,35812900.0,Campinas,1,1,1,1,597.1,581.7,557.3,573.1,Inglês,1.0,120.0,120.0,100.0,120.0,140.0,600.0,nao
208586,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018879.0,Campinas,1,1,1,1,55.8,596.7,597.5,53.7,Inglês,1.0,140.0,120.0,120.0,140.0,160.0,680.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286756,"1,90E+11",Campinas,25,F,2,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,559.9,631.2,583.2,659.1,Inglês,1.0,160.0,200.0,160.0,160.0,140.0,820.0,nao
284121,"1,90E+11",Campinas,17,F,1,branca,1,2,privada,35172510.0,Campinas,1,1,1,1,555.7,655.1,616.1,673.1,Inglês,1.0,160.0,200.0,160.0,140.0,120.0,780.0,nao
364856,"1,90E+11",Campinas,17,M,1,indigena,1,2,privada,35450820.0,Campinas,1,1,1,1,576.2,578.7,587.6,590.1,Inglês,1.0,120.0,120.0,140.0,160.0,80.0,620.0,nao
361853,"1,90E+11",Campinas,22,M,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,646.8,650.3,60.9,696.6,Inglês,1.0,180.0,160.0,160.0,180.0,140.0,820.0,nao
274487,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35901097.0,Campinas,1,1,1,1,447.4,575.4,576.6,529.3,Espanhol,1.0,140.0,120.0,120.0,160.0,120.0,660.0,nao