In [ ]:
import pandas as pd
import numpy as np

In [ ]:
enem_sp = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/04 - Amostragem/01 - Atividade/enem_tratado.csv", encoding = "iso-8859-1",sep=",")

In [ ]:
enem_sp.head()

In [ ]:
enem_campinas = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == "Campinas"]

In [ ]:
enem_campinas.head(10)

In [ ]:
enem_campinas.shape

# **Amostragem Aleatória Simples**

In [ ]:
# Criando semente aleatória, para fixar o resultado.
np.random.seed(1)
# Cada número que eu seto firmará um resultado.
#np.random.seed(2) me daria um outro resultado, mas bastava inserir np.random.seed(1) para visualizar o resultado anterior.

In [ ]:
amos_simples = enem_campinas.sample(frac = 0.20) #Porcentagem

In [ ]:
amos_simples

In [ ]:
amos_simples = enem_campinas.sample(3000) #número inteiro

In [ ]:
amos_simples

**Outra maneira**

In [ ]:
np.random.seed(2)

In [ ]:
amost = np.random.choice(a = [0,1], size=13198, replace=True, p=[0.8,0.2])

In [ ]:
amost

In [ ]:
amos_simples = enem_campinas.loc[amost == 1]

In [ ]:
amos_simples

# **Amostragem Sistemática**

In [108]:
enem_campinas.shape

(13198, 28)

In [109]:
np.random.seed(2)
inicio = np.random.choice(10,1)

In [110]:
array_sistematica = np.arange(inicio,13198,100)
array_sistematica

array([    8,   108,   208,   308,   408,   508,   608,   708,   808,
         908,  1008,  1108,  1208,  1308,  1408,  1508,  1608,  1708,
        1808,  1908,  2008,  2108,  2208,  2308,  2408,  2508,  2608,
        2708,  2808,  2908,  3008,  3108,  3208,  3308,  3408,  3508,
        3608,  3708,  3808,  3908,  4008,  4108,  4208,  4308,  4408,
        4508,  4608,  4708,  4808,  4908,  5008,  5108,  5208,  5308,
        5408,  5508,  5608,  5708,  5808,  5908,  6008,  6108,  6208,
        6308,  6408,  6508,  6608,  6708,  6808,  6908,  7008,  7108,
        7208,  7308,  7408,  7508,  7608,  7708,  7808,  7908,  8008,
        8108,  8208,  8308,  8408,  8508,  8608,  8708,  8808,  8908,
        9008,  9108,  9208,  9308,  9408,  9508,  9608,  9708,  9808,
        9908, 10008, 10108, 10208, 10308, 10408, 10508, 10608, 10708,
       10808, 10908, 11008, 11108, 11208, 11308, 11408, 11508, 11608,
       11708, 11808, 11908, 12008, 12108, 12208, 12308, 12408, 12508,
       12608, 12708, 12808, 12908, 13008, 13108])

In [112]:
amostra_sistematica = enem_campinas.iloc[array_sistematica,:] #iloc porque ele vai pegar por linhas (índices) e não colunas. Vírgula e dois
#pontos para pegar todas as colunas, embora nesse caso n precise).

In [125]:
amostra_sistematica

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
325,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35907376.0,...,509.3,Inglês,1.0,80.0,120.0,100.0,100.0,80.0,480.0,nao
5241,"1,90E+11",Campinas,18,F,1,parda,1,2,publica,35047200.0,...,432.3,Inglês,1.0,120.0,120.0,120.0,100.0,60.0,520.0,nao
9641,"1,90E+11",Campinas,38,M,0,preta,1,1,nao_respondeu,NaN,...,511.7,Espanhol,1.0,80.0,100.0,100.0,80.0,0.0,360.0,sim
14128,"1,90E+11",Campinas,22,M,1,branca,1,1,nao_respondeu,NaN,...,424.9,Espanhol,1.0,120.0,120.0,100.0,80.0,80.0,500.0,nao
18777,"1,90E+11",Campinas,17,F,1,parda,1,2,publica,35112859.0,...,479.4,Inglês,1.0,140.0,180.0,140.0,160.0,80.0,700.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481981,"1,90E+11",Campinas,17,M,1,parda,1,2,publica,35018351.0,...,502.3,Inglês,1.0,120.0,120.0,120.0,140.0,60.0,560.0,nao
486090,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35018120.0,...,446.7,Inglês,1.0,80.0,100.0,80.0,80.0,0.0,340.0,nao
489457,"1,90E+11",Campinas,26,M,1,parda,2,1,nao_respondeu,NaN,...,543.5,Espanhol,1.0,100.0,120.0,100.0,100.0,60.0,480.0,nao
493469,"1,90E+11",Campinas,29,F,1,branca,1,1,nao_respondeu,NaN,...,412.6,Inglês,1.0,100.0,120.0,100.0,120.0,100.0,540.0,nao
497331,"1,90E+11",Campinas,41,F,2,parda,1,4,nao_respondeu,NaN,...,397.3,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,nao

**Outra maneira**

In [134]:
np.random.seed(5)
primeiro = np.random.choice(10,1)
passo = np.random.randint(100,150,1)

In [135]:

array_sistematica = np.arange(primeiro,13198,passo)
array_sistematica

array([    3,   117,   231,   345,   459,   573,   687,   801,   915,
        1029,  1143,  1257,  1371,  1485,  1599,  1713,  1827,  1941,
        2055,  2169,  2283,  2397,  2511,  2625,  2739,  2853,  2967,
        3081,  3195,  3309,  3423,  3537,  3651,  3765,  3879,  3993,
        4107,  4221,  4335,  4449,  4563,  4677,  4791,  4905,  5019,
        5133,  5247,  5361,  5475,  5589,  5703,  5817,  5931,  6045,
        6159,  6273,  6387,  6501,  6615,  6729,  6843,  6957,  7071,
        7185,  7299,  7413,  7527,  7641,  7755,  7869,  7983,  8097,
        8211,  8325,  8439,  8553,  8667,  8781,  8895,  9009,  9123,
        9237,  9351,  9465,  9579,  9693,  9807,  9921, 10035, 10149,
       10263, 10377, 10491, 10605, 10719, 10833, 10947, 11061, 11175,
       11289, 11403, 11517, 11631, 11745, 11859, 11973, 12087, 12201,
       12315, 12429, 12543, 12657, 12771, 12885, 12999, 13113])

In [136]:
amostra_sistematica = enem_campinas.iloc[array_sistematica,:]

In [137]:
amostra_sistematica

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
116,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,26078562.0,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,nao
5346,"1,90E+11",Campinas,18,F,1,preta,1,1,nao_respondeu,NaN,...,672.2,Espanhol,1.0,120.0,120.0,100.0,100.0,120.0,560.0,nao
10022,"1,90E+11",Campinas,17,F,1,branca,1,2,publica,35905471.0,...,455.9,Inglês,1.0,120.0,120.0,100.0,120.0,0.0,460.0,nao
14937,"1,90E+11",Campinas,18,M,1,branca,1,2,publica,35018855.0,...,523.1,Inglês,1.0,120.0,100.0,80.0,80.0,100.0,480.0,sim
19582,"1,90E+11",Campinas,19,F,1,branca,1,1,nao_respondeu,NaN,...,797.6,Inglês,1.0,160.0,200.0,180.0,180.0,180.0,900.0,nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480227,"1,90E+11",Campinas,18,M,1,branca,1,1,nao_respondeu,NaN,...,433.9,Espanhol,1.0,100.0,60.0,60.0,80.0,20.0,320.0,nao
484300,"1,90E+11",Campinas,26,F,1,parda,1,1,nao_respondeu,NaN,...,461.1,Inglês,1.0,140.0,120.0,100.0,100.0,120.0,580.0,nao
488378,"1,90E+11",Campinas,47,F,1,preta,2,1,nao_respondeu,NaN,...,50.2,Espanhol,1.0,100.0,120.0,80.0,100.0,100.0,500.0,nao
492348,"1,90E+11",Campinas,18,F,1,branca,1,1,nao_respondeu,NaN,...,486.9,Espanhol,1.0,120.0,40.0,40.0,120.0,0.0,320.0,nao
496606,"1,90E+11",Campinas,17,F,1,preta,1,2,publica,35924945.0,...,430.8,Inglês,1.0,100.0,120.0,100.0,100.0,40.0,460.0,nao

In [ ]:
enem_campinas