In [93]:
import pandas as pd
import numpy as np
from collections import Counter
pd.options.display.max_columns=200

In [94]:
enem_sp = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/05 - Distribuição de Frequência/02 - Ex-distribuicao_frequencia/enem_tratado.csv", sep=",", encoding="iso-8859-1")

In [95]:
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,nao_respondeu,NaN,NaN,1,1,1,1,564.6,585.8,592.9,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,nao
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,Belém,1,1,1,1,576.2,641.1,634.3,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,sim
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,publica,35904958.0,São Bernardo do Campo,1,1,1,1,402.2,424.8,509.6,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,nao
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,publica,NaN,NaN,1,1,1,1,399.6,426.8,487.2,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,nao
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,625.7,646.5,629.3,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,nao

In [96]:
enem_sorocaba = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == "Sorocaba"]

In [97]:
enem_sorocaba.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,NO_MUNICIPIO_ESC,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
42,"1,90E+11",Sorocaba,27,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,403.9,504.7,555.7,49.1,Espanhol,1.0,140.0,40.0,40.0,140.0,40.0,400.0,nao
192,"1,90E+11",Sorocaba,34,M,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,581.7,612.5,581.9,751.3,Inglês,1.0,120.0,120.0,140.0,120.0,40.0,540.0,nao
226,"1,90E+11",Sorocaba,24,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,517.7,569.6,56.7,609.8,Inglês,1.0,100.0,40.0,80.0,80.0,0.0,300.0,nao
358,"1,90E+11",Sorocaba,22,F,1,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,554.3,594.7,585.7,587.8,Inglês,1.0,120.0,180.0,140.0,120.0,120.0,680.0,nao
409,"1,90E+11",Sorocaba,34,F,2,branca,1,1,nao_respondeu,NaN,NaN,1,1,1,1,483.8,525.4,546.3,566.2,Espanhol,1.0,120.0,120.0,100.0,100.0,60.0,500.0,nao

In [98]:
enem_sorocaba.shape

(8088, 28)

In [99]:
idade = enem_sorocaba["IDADE"]

In [100]:
idade

42        27
192       34
226       24
358       22
409       34
          ..
499512    23
499592    17
499619    17
499646    18
499839    20
Name: IDADE, Length: 8088, dtype: int64

In [101]:
freq_absoluta = Counter(idade)

In [102]:
freq_absoluta

Counter({14: 1,
         15: 3,
         16: 8,
         17: 2993,
         18: 1558,
         19: 872,
         20: 556,
         21: 372,
         22: 279,
         23: 206,
         24: 154,
         25: 114,
         26: 105,
         27: 76,
         28: 87,
         29: 72,
         30: 52,
         31: 40,
         32: 50,
         33: 41,
         34: 42,
         35: 42,
         36: 37,
         37: 26,
         38: 29,
         39: 29,
         40: 23,
         41: 20,
         42: 23,
         43: 21,
         44: 14,
         45: 14,
         46: 18,
         47: 8,
         48: 15,
         49: 11,
         50: 7,
         51: 11,
         52: 9,
         53: 9,
         54: 13,
         55: 2,
         56: 4,
         57: 2,
         58: 2,
         59: 2,
         60: 4,
         61: 6,
         62: 1,
         64: 2,
         65: 1,
         70: 1,
         73: 1})

In [103]:
freq_absoluta = pd.DataFrame.from_dict(freq_absoluta, orient="index")

In [104]:
freq_absoluta

       0
27    76
34    42
24   154
22   279
28    87
30    52
19   872
25   114
17  2993
18  1558
29    72
32    50
20   556
36    37
21   372
23   206
26   105
39    29
38    29
37    26
41    20
31    40
33    41
54    13
40    23
47     8
43    21
50     7
35    42
61     6
60     4
42    23
53     9
49    11
46    18
45    14
48    15
64     2
57     2
52     9
51    11
16     8
44    14
56     4
58     2
65     1
59     2
15     3
62     1
73     1
14     1
70     1
55     2

In [126]:
freq_absoluta = freq_absoluta.sort_index(ascending=True)
freq_absoluta

       0
14     1
15     3
16     8
17  2993
18  1558
19   872
20   556
21   372
22   279
23   206
24   154
25   114
26   105
27    76
28    87
29    72
30    52
31    40
32    50
33    41
34    42
35    42
36    37
37    26
38    29
39    29
40    23
41    20
42    23
43    21
44    14
45    14
46    18
47     8
48    15
49    11
50     7
51    11
52     9
53     9
54    13
55     2
56     4
57     2
58     2
59     2
60     4
61     6
62     1
64     2
65     1
70     1
73     1

In [133]:
freq_relativa = freq_absoluta / freq_absoluta.sum()
freq_relativa

           0
14  0.000124
15  0.000371
16  0.000989
17  0.370054
18  0.192631
19  0.107814
20  0.068744
21  0.045994
22  0.034496
23  0.025470
24  0.019041
25  0.014095
26  0.012982
27  0.009397
28  0.010757
29  0.008902
30  0.006429
31  0.004946
32  0.006182
33  0.005069
34  0.005193
35  0.005193
36  0.004575
37  0.003215
38  0.003586
39  0.003586
40  0.002844
41  0.002473
42  0.002844
43  0.002596
44  0.001731
45  0.001731
46  0.002226
47  0.000989
48  0.001855
49  0.001360
50  0.000865
51  0.001360
52  0.001113
53  0.001113
54  0.001607
55  0.000247
56  0.000495
57  0.000247
58  0.000247
59  0.000247
60  0.000495
61  0.000742
62  0.000124
64  0.000247
65  0.000124
70  0.000124
73  0.000124

In [134]:
#tirando a prova = soma = 1.0
freq_relativa.sum()

0    1.0
dtype: float64

In [136]:
freq_perc_relativa = freq_relativa * 100
freq_perc_relativa

            0
14   0.012364
15   0.037092
16   0.098912
17  37.005440
18  19.263106
19  10.781405
20   6.874382
21   4.599407
22   3.449555
23   2.546983
24   1.904055
25   1.409496
26   1.298220
27   0.939664
28   1.075668
29   0.890208
30   0.642928
31   0.494560
32   0.618200
33   0.506924
34   0.519288
35   0.519288
36   0.457468
37   0.321464
38   0.358556
39   0.358556
40   0.284372
41   0.247280
42   0.284372
43   0.259644
44   0.173096
45   0.173096
46   0.222552
47   0.098912
48   0.185460
49   0.136004
50   0.086548
51   0.136004
52   0.111276
53   0.111276
54   0.160732
55   0.024728
56   0.049456
57   0.024728
58   0.024728
59   0.024728
60   0.049456
61   0.074184
62   0.012364
64   0.024728
65   0.012364
70   0.012364
73   0.012364